{% extends 'common/base.html' %}

{% block title %}注册账号{% endblock %}

{% block content %}
    <form action="{{ url_for('.register', next=request.args.next) }}" method="post" class="form-signup h-100">
        <img class="mb-4" src="{{ url_for('static',filename='img/logo.jpg') }}" width="72" height="72" alt="忙鱼">
        <h1 class="h3 mb-3 font-weight-normal">欢迎注册</h1>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="type" value="register"/>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">邮件</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email" required="required"
                       placeholder="email@example.com" {% if email %} value="{{ email }}" {% endif %}
                       onchange="check_email(this.value)">
            </div>
        </div>
        <div class="form-group row">
            <label for="verification_code" class="col-sm-2 col-form-label">验证码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="verification_code" name="verification_code"
                       required="required" maxlength="6" placeholder="邮件验证码">
                <a class="btn btn-link float-left" role="button"
                   onclick="send_verification_code('{{ url_for('.send_verification_code') }}')"
                   id="get_verification_code">获取验证码</a>
            </div>
        </div>
        <div class="alert alert-warning" role="alert" style="display: none;" id="alert_div"></div>
        <button type="submit" class="btn btn-primary" onclick="check_email($('#email').val())">注册</button>
    </form>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/user/main.js') }}"></script>
{% endblock %}