{% extends 'common/base.html' %}

{% block title %}重置密码{% endblock %}

{% block content %}
    <form action="{{ url_for('.reset_password', token=token) }}" method="post" class="form-signup h-100"
          onsubmit="return confirm('请记好密码?')">
        <img class="mb-4" src="{{ url_for('static',filename='img/logo.jpg') }}" width="72" height="72" alt="忙鱼">
        <h1 class="h3 mb-3 font-weight-normal">重置密码</h1>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="type" value="register"/>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">邮件</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email" required="required" disabled="disabled"
                       placeholder="email@example.com" {% if email %} value="{{ email }}" {% endif %}>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" required="required"
                       maxlength="16" placeholder="密码" onchange="check_password(this.value,this.value)">
            </div>
        </div>
        <div class="form-group row">
            <label for="password2" class="col-sm-2 col-form-label">确认密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password2" name="password2" required="required"
                       maxlength="16" placeholder="确认密码" onchange="check_password($('#password').val(),this.value)">
            </div>
        </div>
        <div class="alert alert-warning" role="alert" style="display: none;" id="alert_div"></div>
        <button type="submit" class="btn btn-primary"
                onclick="check_password($('#password').val(),$('#password2').val())">
            重置
        </button>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/user/main.js') }}"></script>
{% endblock %}