{% extends 'common/base.html' %}

{% block title %}{{ form.title.data or '发布商品' }}{% endblock %}

{% block content %}
    <div class="row">
        <form class="m-auto w-50" method="post"
              action="{{ url_for('.modify', goods_id=goods.id or 0, next=request.args.get('next')) }}"
              onsubmit="return confirm('是否确认提交修改?')"
              enctype="multipart/form-data">
            <h2>{{ form.title.data or '发布商品' }}</h2>
            {{ form.csrf_token }}
            {# 类别下拉 默认隐藏 #}
            <div class="form-group row" hidden="hidden">
                {{ form.catagory.label(class_='col-sm-3 col-form-label', required=true) }}
                <div class="col-sm-9">
                    {{ form.catagory(class_="form-control-plaintext border", readOnly=true) }}
                </div>
            </div>
            {# 类别下拉菜单 #}
            <div class="form-row">
                <label required="required">类别</label>
                <div class="col" id="catagory_div">
                    <label for="level"></label>
                    {# 类别下拉菜单 show_catagory(1) #}
                </div>
            </div>
            <div class="form-group row">
                {{ form.title.label(class_='col-sm-3 col-form-label', required=true) }}
                <div class="col-sm-9">
                    {{ form.title(class_="form-control-plaintext border") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.info.label(class_='col-sm-3 col-form-label') }}
                <div class="col-sm-9">
                    {{ form.info(class_="form-control-plaintext border") }}
                </div>
            </div>
            {# 图片预览 #}
            <ul class="list-group list-group-horizontal" id="show_pictures"></ul>
            <div class="form-group row">
                {{ form.pictures.label(class_='col-sm-3 col-form-label', required=true) }}
                <div class="col-sm-9">
                    {{ form.pictures(class_="form-control-plaintext border", accept='image/*', multiple="multiple", onchange="check_file_count(this)") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.price.label(class_='col-sm-3 col-form-label', required=true) }}
                <div class="col-sm-9">
                    {{ form.price(class_="form-control-plaintext border", onchange="format_number(this)") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.sec_price.label(class_='col-sm-3 col-form-label', required=true) }}
                <div class="col-sm-9">
                    {{ form.sec_price(class_="form-control-plaintext border", onchange="format_number(this)") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.condition.label(class_='col-sm-3 col-form-label', required=true) }}
                <div class="col-sm-9">
                    {{ form.condition(class_="form-control-plaintext border",  onchange="format_number_percent(this)") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.send_type.label(class_='col-sm-3 col-form-label', required=true) }}
                <div class="col-sm-9">
                    {{ form.send_type(class_="form-control-plaintext custom-control custom-radio custom-control-inline",
                     style="list-style: none;") }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.send_price.label(class_='col-sm-3 col-form-label', required=true) }}
                <div class="col-sm-9">
                    {{ form.send_price(class_="form-control-plaintext border", onchange="format_number(this)") }}
                </div>
            </div>
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/goods/catagory.js') }}"></script>
    {# 获取上传的图片临时路径的函数 #}
    <script src="{{ url_for('static',filename='js/user/main.js') }}"></script>
    <script src="{{ url_for('static',filename='js/goods/main.js') }}"></script>
    <script>
        // 页面加载后，若类别控件有默认值，则自动选择相应的下拉菜单。即修改商品信息时
        $(document).ready(function () {
            select_catagory()
        });
        // 根据送货方式不同动态设置邮费
        $('#send_type li').change(function () {
            let index = $(this).index();
            let value = $('#send_type li').eq(index).text().trim();
            let price = $('#send_price');
            if (value == '不包邮') {
                // 修改为可编辑
                price.removeAttr('readonly')
                price.attr('value', {{ config.SEND_PRICE }})
                price.val({{ config.SEND_PRICE }})
            } else {
                // 修改为不可编辑
                price.attr('readonly', 'true')
                // 没有邮费
                price.attr('value', 0)
                price.val(0)
            }
        });
    </script>
{% endblock %}